{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="my-4">
  <div class="w-100 rounded border shadow p-3 p-lg-5">
    <div class="row">
      <div class="col">
        <h1>View Booking History</h1>
        <div id="selected-schedule"  class="my-3">
          <div id="display-schedule">
            {% if ticket %}
              {% for date, items in ticket.items %}
                <div class="d-block">
                  <h3>{{ date }}</h3>
                  {% for t in items  %}
                    <div class="d-block rounded border p-3 my-3">
                      <div class="d-block w-100">
                        <div class="d-flex justify-content-center align-items-center">
                          <div class="border-right text-center" style="min-width: 90px;">
                            <figure class="w-25 mx-auto">
                              <img src="{% static 'image/train.png' %}" class="mx-auto img-fluid" alt="Train">
                            </figure>
                            <h6>Train No.</h6>
                            <h5 class="mb-0">{{ t.boardingTrain.train_name }}</h5>
                          </div>
                          <div class="d-none d-md-inline-block vertical-line mx-3 mx-md-4 mx-lg-5">
                            <div class="circle d-block"></div>
                            <div class="circle d-block"></div>
                          </div>
                          <div class="d-inline-block w-100 mr-auto px-2" style="border-right: 1px dashed #707070;">
                            <div class="row">
                              <div class="col-12">
                                <div class="d-block d-sm-flex justify-content-between">
                                  <span class="text-bold">{{ t.fromStation.station.english_station_name }}</span>
                                  <div class="d-inline-block ml-sm-1 ml-md-auto">
                                    <span class="mr-sm-3 mr-md-5">Dep.</span>
                                    <span class="text-bold d-inline-block text-right" style="width: 60px">{{ t.fromStation.departed_time|time:'H:i' }}</span>
                                  </div>
                                </div>
                                <hr>
                                <div class="d-block d-sm-flex justify-content-between">
                                  <span class="text-bold">{{ t.toStation.station.english_station_name }}</span>
                                  <div class="d-inline-block ml-sm-1 ml-md-auto">
                                    <span class="mr-sm-3 mr-md-5">Arr.</span>
                                    <span class="text-bold d-inline-block text-right" style="width: 60px">{{ t.toStation.arrived_time|time:'H:i' }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-block w-100 text-right mt-2">
                        <span>
                          Transaction Status: 
                          {% if t.transactionStatus %} 
                            <span style="color: #8AD879;">Success</span>
                          {% else %}
                            <span style="color: #EF2424;">Not Success</span>
                          {% endif %}
                        </span>
                        <span class="pl-2 border-left">
                          Booking Status:
                          {% if t.bookingStatus %} 
                            <span style="color: #8AD879;">Success</span>
                          {% else %}
                            <span style="color: #EF2424;">Not Success</span>
                          {% endif %}
                        </span>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
            {% else %}
              <div class="text-center my-5">
                <h2>You don't have any booking ticket yet!</h2>
                <a href={% url 'searchSchedules' %} class="my-3">
                  <h3 class="text-underline">Booking new one!</h3>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block style %}
<style>
  #progress-bar {
    width: 100%;
    height: 20%;
  }

  #line {
    height: 6px;
    width: 70%;
    background: #707070;
    border-radius: 5px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
  }

  #progress-bar > #line .circle {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 15px;
    position: absolute;
    top: -7px;
    border: 3px solid #707070;
  }

  #progress-bar > #line .circle.active {
    background: #707070;
  }

  #progress-bar > #line .circle:before {
    content: '';
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    border-radius: 100%;
    top: 2px;
    left: 2px;
    display: none;
  }

  .vertical-line {
    width: 3px;
    height: 60px;
    background: #707070; 
  }

  .vertical-line .circle {
    position: absolute;
    margin-top: -10px;
    margin-left: -9px;
    z-index: 1;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    border: 1px solid #707070;
  }

  .vertical-line .circle:nth-child(1) {
    margin-top: -10px;
    background: #fff;
  }

  .vertical-line .circle:nth-child(2) {
    margin-top: 50px;
    background: #707070;
  }

  .selectTicket > img {
    background-image: url({% static "image/circle.png"%});
    background-repeat: no-repeat;
    width: auto; /*or your image's width*/
    height: auto; /*or your image's height*/
    margin: 0;
    padding: 0;

    -webkit-user-drag: none; 
    user-drag: none; 
    user-select: none;
    cursor: pointer;
  }

  input[type='radio']:checked ~ label.selectTicket {
    background: url({% static "image/right.png"%}), lightgreen;
    -webkit-mask-image: url({% static "image/right.png"%});
    -webkit-mask-mode: alpha;
    -webkit-mask-size: cover;
    mask-image: url({% static "image/right.png"%});
    mask-mode: alpha;
    mask-size: cover;
    background-blend-mode: multiply;
  }

  input[type='radio']:checked ~ label.selectTicket > img {
    opacity: 0;
  }
</style>
{% endblock style %}