{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="my-4">
  <div class="w-100 p-1 p-lg-5 py-sm-3">
    <div class="row justify-content-center align-content-center text-center">
      <div class="col">
        <figure class="mx-auto">
          <img src="{% static 'image/right.png' %}" alt="Successful!">
        </figure>
        <h1>SUCCESS!</h1>

        <div class="d-flex justify-content-center align-items-center rounded-lg border shadow w-75 my-4 mx-auto">
          <div class="border-right text-center pl-3 my-3" style="min-width: 90px;">
            <figure class="w-25 mx-auto">
              <img src="{% static 'image/train.png' %}" class="mx-auto img-fluid" alt="Train">
            </figure>
            <h6>Train No.</h6>
            <h5 class="mb-0">200</h5>
          </div>
          <div class="d-none d-md-inline-block vertical-line mx-3 mx-md-4 mx-lg-5">
            <div class="circle d-block"></div>
            <div class="circle d-block"></div>
          </div>
          <div class="d-inline-block w-100 px-2 py-3 mr-5" style="border-right: 1px dashed #707070;">
            <div class="d-block d-sm-flex justify-content-between">
              <span class="text-bold">{{ schedule.from }}</span>
              <div class="d-inline-block ml-sm-1 ml-md-auto">
                <span class="mr-sm-3 mr-md-5">Dep.</span>
                <span class="text-bold">09.12</span>
              </div>
            </div>
            <hr>
            <div class="d-block d-sm-flex justify-content-between">
              <span class="text-bold">{{ schedule.to }}</span>
              <div class="d-inline-block ml-sm-1 ml-md-auto">
                <span class="mr-sm-3 mr-md-5">Arr.</span>
                <span class="text-bold">19.40</span>
              </div>
            </div>
          </div>
        </div>
        
        <div>
          <a href="{% url 'dashboard' %}" class="btn btn-outline-dark">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block style %}
<style>
  .vertical-line {
    width: 3px;
    height: 60px;
    background: #707070; 
  }

  .vertical-line .circle {
    position:absolute;
    margin-top: -10px;
    margin-left: -9px;
    z-index: 1;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    border: 1px solid #707070;
  }

  .vertical-line .circle:nth-child(1) {
    margin-top: -10px;
    background: #fff;
  }

  .vertical-line .circle:nth-child(2) {
    margin-top: 50px;
    background: #707070;
  }
</style>
{% endblock style %}
