{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="my-4">
    <div class="w-100 rounded border shadow p-3 p-lg-5">
      <div class="row">
        <div class="col">
          <div class="d-flex align-content-center">
            <h1 class="m-0">Announcements</h1>
            {% if is_announcer  %}
              <a href="{% url 'createAnnouncement' %}" class="my-auto ml-auto">
                <div class="btn btn-primary float-right">Create New Announcement</div>
              </a>
            {% endif %}
          </div>
          <table class="table table-responsive-sm table-responsive-md mt-3">
            <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Announcement</th>
              <th scope="col">Announced Date</th>
              {% if is_announcer %}
                <th scope="col">Writer</th>
                <th scope="col">Action</th>
              {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for a in announcement %}
              <a data-toggle="collapse" href="#collapse_{{ a.id }}" role="button" aria-expanded="false"
                  aria-controls="collapse_{{ a.id }}">
                <tr>
                  <th scope="row">{{ a.id }}</th>
                  <td>{{ a.announce_text }}</td>
                  <td>{{ a.announce_time|date:'d/M/yy' }}, {{ a.announce_time|time:'H:i' }}</td>
                  {% if is_announcer %}
                    <td>{{ a.announcer_user.user.user_id.username }}</td>
                    <td>
                      <a href="{% url 'editAnnouncement' announcement_id=a.id %}">
                        <div class="btn btn-warning">Edit</div>
                      </a>
                      <a href="{% url 'deleteAnnouncement' announcement_id=a.id %}" class="ml-2">
                        <div class="btn btn-danger">Delete</div>
                      </a>
                    </td>
                  {% endif %}
                </tr>
              </a>
              <div class="collapse w-100 mt-3" id="collapse_{{ a.id }}">
                {{ a.announce_text }}
              </div>
            {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
  </div>
{% endblock content %}

{% block style %}
  <style>
  </style>
{% endblock style %}