{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="my-4">
    <section>
      <form action="{% url 'searchTimetable' %}" method="POST" class="row justify-content-center align-items-center">
        {% csrf_token %}
        <div class="col-12 col-lg-8">
          <h6>From</h6>
          <div class="form-group ml-0">
            <select class="form-control d-inline-block" style="width: 45%" name="from">
              {% for st in stations %}
                <option value="{{ st.id }}">{{ st.english_station_name }}</option>
              {% endfor %}
            </select>
            <span class="d-block d-sm-inline-block mx-1 mx-lg-3">To</span>
            <select class="form-control d-inline-block" style="width: 45%" name="to">
              {% for st in stations %}
                <option value="{{ st.id }}">{{ st.english_station_name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-12 col-lg-2 ml-auto">
          <button type="submit" class="btn btn-outline-dark">Search for schedule</button>
        </div>
      </form>
    </section>
    <section class="my-5">
      <div class="d-flex flex-wrap justify-content-between" style="font-weight: 200">
        <a class="btn btn-dashboard-link border shadow p-3" href={% url 'searchSchedules' %}>
          <img src="{% static 'image/validating-ticket.png' %}" class="mx-auto img-fluid" alt="Book a ticket">
          <p class="my-auto py-2">BOOK A TICKET</p>
        </a>
        <a class="btn btn-dashboard-link border shadow p-3" href={% url 'searchTimetable' %}>
          <img src="{% static 'image/train.png' %}" class="mx-auto img-fluid" alt="Train schedule">
          <p class="my-auto py-2">TRAIN SCHEDULE</p>
        </a>
        <a class="btn btn-dashboard-link border shadow p-3" href={% url 'viewTransaction' %}>
          <img src="{% static 'image/transaction.png' %}" class="mx-auto img-fluid" alt="Transaction status">
          <p class="my-auto py-2">TRANSACTION STATUS</p>
        </a>
        <a class="btn btn-dashboard-link border shadow p-3" href={% url 'bookingHistory' %}>
          <img src="{% static 'image/bill.png' %}" class="mx-auto img-fluid" alt="View booking ticket">
          <p class="my-auto py-2">VIEW BOOKING HISTORY</p>
        </a>
      </div>
    </section>
    <section class="my-5">
      <h3>Announcements</h3>
      <table class="table table-responsive-sm mt-3">
        <thead>
        <tr>
          <th scope="col">Announcement</th>
          <th scope="col">Announced Date</th>
        </tr>
        </thead>
        <tbody>
        {% for a in announcement %}
          <div data-toggle="collapse" href="#collapse_{{ a.id }}" role="button"
               aria-expanded="false" aria-controls="collapse_{{ a.id }}" style="cursor: pointer">
            <tr>
              <th scope="row">{{ a.announce_text|truncatechars:100 }}</th>
              <td>{{ a.announce_time|date:'d/M/yy' }}, {{ a.announce_time|time:'H:i' }}</td>
            </tr>
          </div>
          <div class="collapse w-100 mt-3" id="collapse_{{ a.id }}">
            {{ a.announce_text }}
          </div>
        {% endfor %}
        </tbody>
      </table>
      <div class="text-right">
        <a href={% url 'viewAnnouncement' %}>
        <small class="text-mute">Read more</small>
        </a>
      </div>
    </section>
  </div>
{% endblock content %}

{% block style %}
  <style>
    .btn.btn-dashboard-link {
      position: relative;
      width: 20%;
      min-width: 150px;
      transition: 0.5s all ease-in-out;
    }
  </style>
{% endblock style %}