{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="my-4">
    <div class="w-100 rounded border shadow p-5">
      <div class="row">
        <a class="col">
          <h1>Ticket List</h1>
          <table class="table mt-3">
            <thead>
            <tr>
              <th scope="col">Train No.</th>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th scope="col">Transaction Status</th>
              <th scope="col">Booking Status</th>
              <th scope="col">Bought Date</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for t in ticket %}
              <p>
                <tr>

                  <th scope="row">{% for tr in train %}{% if tr.id == t.boardingTrain_id %}{{ tr.train_name }}{% endif %}{% endfor %}</th>
                  <td>{{ t.fromStation.station.english_station_name }}</td>
                  <td>{{ t.toStation.station.english_station_name }}</td>
                  <td>{{ t.transactionStatus }}</td>
                  <td>{{ t.bookingStatus }}</td>
                  <td>{{ t.buyDate|date:'d/M/yy' }}</td>
                  <td>
                    {% if is_TS %}
                      {% csrf_token %}
                      <a href="{% url 'editTransaction' ticket_id=t.id %}">
                        <div class="btn btn-warning">Edit</div>
                      </a>
                      <a href="{% url 'deleteTransaction' ticket_id=t.id %}">
                        <div class="btn btn-danger">Delete</div>
                      </a>
                    {% endif %}
                  </td>
                </tr>
              </a>
              </p>
            {% endfor %}
        </tbody>
        </table>

      </div>
    </div>
  </div>
  </div>
{% endblock content %}

{% block style %}
  <style>
  </style>
{% endblock style %}