{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="my-4">
    <div class="w-100 rounded border shadow p-5">
      {% comment %}
    <div class="progress w-50 mx-auto my-5" style="height: 3px;">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    {% endcomment %}
      <div class="row">
        <div class="col">
          <h1>Search For Schedules</h1>
          <form class="row" action="#" method="POST">
            {% csrf_token %}
            <div class="col-6">
              <h6>From</h6>
              <div class="form-group ml-0">
                <select class="form-control" name="from">
                  {% for st in station %}
                    <option value="{{ st.id }}">{{ st.english_station_name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-6">
              <h6>To</h6>
              <div class="form-group ml-0">
                <select class="form-control" name="to">
                  {% for st in station %}
                    <option value="{{ st.id }}">{{ st.english_station_name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-dark px-5 mx-auto">Search</button>
          </form>

          {% if schedule != null %}
            <hr>
            <div class="py-2">
              <div class="d-flex justify-content-between">
                <h3>Search : {{ schedule.from }} - {{ schedule.to }}</h3>
                <button type="submit" class="btn btn-dark px-3 px-md-5 ml-auto">Booking a selected
                  ticket
                </button>
              </div>

              <div id="display-schedule">
                <div class="d-flex justify-content-center align-items-center rounded border w-100 p-3 my-3">
                  <div class="border-right text-center" style="min-width: 90px;">
                    <figure class="w-25 mx-auto">
                      <img src="{% static 'image/train.png' %}" class="mx-auto img-fluid"
                           alt="Train">
                    </figure>
                    <h6>Train No.</h6>
                    <h5 class="mb-0">200</h5>
                  </div>
                  <div class="d-none d-md-inline-block vertical-line mx-3 mx-md-4 mx-lg-5">
                    <div class="circle d-block"></div>
                    <div class="circle d-block"></div>
                  </div>
                  <div class="d-inline-block w-100 mr-auto px-2">
                    <div class="d-block d-sm-flex justify-content-between">
                      <span class="text-bold">{{ schedule.from }}</span>
                      <div class="d-inline-block ml-sm-1 ml-md-auto">
                        <span class="mr-sm-3 mr-md-5">Dep.</span>
                        <span class="text-bold">09.12</span>
                      </div>
                    </div>
                    <hr>
                    <div class="d-block d-sm-flex justify-content-between">
                      <span class="text-bold">{{ schedule.to }}</span>
                      <div class="d-inline-block ml-sm-1 ml-md-auto">
                        <span class="mr-sm-3 mr-md-5">Arr.</span>
                        <span class="text-bold">19.40</span>
                      </div>
                    </div>
                  </div>
                  <div class="ml-lg-3">
                    <input type="radio" class="d-none" name="selectedTicket" id="selectedTicket-1"
                           value="1">
                    <label for="selectedTicket-1" class="selectTicket">
                      <img src="{% static 'image/circle.png' %}" alt="Uncheck">
                    </label>
                  </div>
                </div>

                <div class="d-flex justify-content-center align-items-center rounded border w-100 p-3 my-3">
                  <div class="border-right text-center" style="min-width: 90px;">
                    <figure class="w-25 mx-auto">
                      <img src="{% static 'image/train.png' %}" class="mx-auto img-fluid"
                           alt="Train">
                    </figure>
                    <h6>Train No.</h6>
                    <h5 class="mb-0">200</h5>
                  </div>
                  <div class="d-none d-md-inline-block vertical-line mx-3 mx-md-4 mx-lg-5">
                    <div class="circle d-block"></div>
                    <div class="circle d-block"></div>
                  </div>
                  <div class="d-inline-block w-100 mr-auto px-2">
                    <div class="d-block d-sm-flex justify-content-between">
                      <span class="text-bold">{{ schedule.from }}</span>
                      <div class="d-inline-block ml-sm-1 ml-md-auto">
                        <span class="mr-sm-3 mr-md-5">Dep.</span>
                        <span class="text-bold">09.12</span>
                      </div>
                    </div>
                    <hr>
                    <div class="d-block d-sm-flex justify-content-between">
                      <span class="text-bold">{{ schedule.to }}</span>
                      <div class="d-inline-block ml-sm-1 ml-md-auto">
                        <span class="mr-sm-3 mr-md-5">Arr.</span>
                        <span class="text-bold">19.40</span>
                      </div>
                    </div>
                  </div>
                  <div class="ml-lg-3">
                    <input type="radio" class="d-none" name="selectedTicket" id="selectedTicket-2"
                           value="2">
                    <label for="selectedTicket-2" class="selectTicket">
                      <img src="{% static 'image/circle.png' %}" alt="Uncheck">
                    </label>
                  </div>
                </div>

                <div class="d-flex justify-content-center align-items-center rounded border w-100 p-3 my-3">
                  <div class="border-right text-center" style="min-width: 90px;">
                    <figure class="w-25 mx-auto">
                      <img src="{% static 'image/train.png' %}" class="mx-auto img-fluid"
                           alt="Train">
                    </figure>
                    <h6>Train No.</h6>
                    <h5 class="mb-0">200</h5>
                  </div>
                  <div class="d-none d-md-inline-block vertical-line mx-3 mx-md-4 mx-lg-5">
                    <div class="circle d-block"></div>
                    <div class="circle d-block"></div>
                  </div>
                  <div class="d-inline-block w-100 mr-auto px-2">
                    <div class="d-block d-sm-flex justify-content-between">
                      <span class="text-bold">{{ schedule.from }}</span>
                      <div class="d-inline-block ml-sm-1 ml-md-auto">
                        <span class="mr-sm-3 mr-md-5">Dep.</span>
                        <span class="text-bold">09.12</span>
                      </div>
                    </div>
                    <hr>
                    <div class="d-block d-sm-flex justify-content-between">
                      <span class="text-bold">{{ schedule.to }}</span>
                      <div class="d-inline-block ml-sm-1 ml-md-auto">
                        <span class="mr-sm-3 mr-md-5">Arr.</span>
                        <span class="text-bold">19.40</span>
                      </div>
                    </div>
                  </div>
                  <div class="ml-lg-3">
                    <input type="radio" class="d-none" name="selectedTicket" id="selectedTicket-3"
                           value="3">
                    <label for="selectedTicket-3" class="selectTicket">
                      <img src="{% static 'image/circle.png' %}" alt="Uncheck">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          {% if schedule == null %}
            <div class="py-2">
              <div class="d-flex justify-content-between">
                <h3>All Train</h3>
              </div>

              <div id="display-schedule">
                {% for tr in train %}
                  {% if tr.id == 1 or tr.id == 2 or tr.id == 3 or tr.id == 21 or tr.id == 22 or tr.id == 23 %}
                    <div data-toggle="collapse" href="#collapse_{{ tr.id }}" role="button"
                         aria-expanded="false" aria-controls="collapse_{{ tr.id }}" style="cursor: pointer">
                      <div class="d-flex flex-wrap rounded border w-100 p-3 my-3">
                        <div class="d-flex w-100 justify-content-center align-items-center">
                          <div class="border-right text-center" style="min-width: 90px;">
                            <figure class="w-25 mx-auto">
                              <img src="{% static 'image/train.png' %}" class="mx-auto img-fluid"
                                   alt="Train">
                            </figure>
                            <h6>Train No.</h6>
                            <h5 class="mb-0">{{ tr.train_name }}</h5>
                          </div>
                          <div class="d-none d-md-inline-block vertical-line mx-3 mx-md-4 mx-lg-5">
                            <div class="circle d-block"></div>
                            <div class="circle d-block"></div>
                          </div>
                          <div class="d-inline-block w-100 mr-auto px-2">
                            {% for tt in timetable %}
                              {% if tr.id == tt.train_id and tt.arrived_time is None %}
                                <div class="d-block d-sm-flex justify-content-between">
                                  {% for st in station %}
                                    {% if tt.station_id == st.id %}
                                      <span class="text-bold">{{ st.english_station_name }}</span>
                                    {% endif %}
                                  {% endfor %}
                                  <div class="d-inline-block ml-sm-1 ml-md-auto">
                                    <span class="mr-sm-3 mr-md-5">Dep.</span>
                                    <span class="text-bold">{{ tt.departed_time |time:'H:i' }}</span>
                                  </div>
                                </div>
                              {% endif %}
                            {% endfor %}
                            <hr>
                            {% for tt in timetable %}
                              {% if tr.id == tt.train_id and tt.departed_time is None %}
                                <div class="d-block d-sm-flex justify-content-between ">
                                  {% for st in station %}
                                    {% if tt.station_id == st.id %}
                                      <span class="text-bold">{{ st.english_station_name }}</span>
                                    {% endif %}
                                  {% endfor %}
                                  <div class="d-inline-block ml-sm-1 ml-md-auto">
                                    <span class="mr-sm-3 mr-md-5">Arr.</span>
                                    <span class="text-bold">{{ tt.arrived_time | time:'H:i' }}</span>
                                  </div>
                                </div>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>

                        <div class="collapse w-100 mt-3" id="collapse_{{ tr.id }}">
                          <div class="card card-body">
                            {% for tt in timetable %}
                              {% for st in station %}
                                {% if tt.station_id == st.id and tr.id == tt.train_id %}
                                  <p><b>{{ st.english_station_name }}</b> {{ tt.arrived_time | time:'H:i' }}</p>
                                  <hr>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            </div>
          {% endif %}
      </div>
    </div>
  </div>
  </div>
{% endblock content %}

{% block style %}
  <style>
    .vertical-line {
      width: 3px;
      height: 60px;
      background: #707070;
    }

    .vertical-line .circle {
      position: absolute;
      margin-top: -10px;
      margin-left: -9px;
      z-index: 1;
      height: 20px;
      width: 20px;
      border-radius: 25px;
      border: 1px solid #707070;
    }

    .vertical-line .circle:nth-child(1) {
      margin-top: -10px;
      background: #fff;
    }

    .vertical-line .circle:nth-child(2) {
      margin-top: 50px;
      background: #707070;
    }

    .selectTicket > img {
      background-image: url({% static "image/circle.png" %});
      background-repeat: no-repeat;
      width: auto; /*or your image's width*/
      height: auto; /*or your image's height*/
      margin: 0;
      padding: 0;

      -webkit-user-drag: none;
      user-drag: none;
      user-select: none;
      cursor: pointer;
    }

    input[type='radio']:checked ~ label.selectTicket {
      background: url({% static "image/right.png" %}), lightgreen;
      -webkit-mask-image: url({% static "image/right.png" %});
      -webkit-mask-mode: alpha;
      -webkit-mask-size: cover;
      mask-image: url({% static "image/right.png" %});
      mask-mode: alpha;
      mask-size: cover;
      background-blend-mode: multiply;
    }

    input[type='radio']:checked ~ label.selectTicket > img {
      opacity: 0;
    }
  </style>
{% endblock style %}